header {
	background-color: #660033;
	height: 100px;
	margin: 0;
	}

nav {
	background-color: #990033;
	height: 50px;
	margin: 0;
	}
	
main {
	background-color: #cc0033;
	height: 400px;
	margin: 0;
	}

footer {
	background-color: #ff0033;
	height: 50px;
	margin: 0;
	}
	
body {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	}
	